<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
        <env name="CAKE_ENV" value="test"/>
    </php>

    <testsuites>
        <testsuite name="app">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">plugins/*/src/</directory>
        </include>
        <exclude>
            <file>src/Console/Installer.php</file>
        </exclude>
    </source>
</phpunit>
